/* Untuk Smartphone */
@media all and (max-width: 768px) {
    .jumbotron {
        flex-wrap: wrap-reverse;
    }

    .jumbotron-right img {
        max-width: 100%;
        height: auto;
        padding: 0
    } 
    
    .main-content {
        flex-wrap: wrap;
    }

    input, textarea {
        width: 100%;
    }

    .main-content .box {
        flex-basis: auto;
    }

    .contact-submit {
        width: 100%;
    }
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .jumbotron {
        flex-wrap: wrap-reverse;
    }

    .jumbotron-right img {
        padding: 50px;
        max-width: 100%;
    }
}