/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .jumbotron {
        flex-wrap: wrap-reverse;
    }

    .jumbotron-right img {
        padding: 50px;
        max-width: 100%;
    }

    /*Path and Price*/
    .paths .container > p, .prices .container > p {
        padding-top: 1.5rem;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    /*Path*/
    .paths .row {
        max-width: 768px;
    }

    .paths .column {
        width: 50%;
    }

    .path {
        margin: 0 auto;
    }


    /*Price*/

    .prices .row {
        width: 80%;
    }

    .prices .column {
        width: 100%;
    }

    .price {
        margin: 0 auto;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 768px) {
    .jumbotron {
        flex-wrap: wrap-reverse;
    }

    .jumbotron-right img {
        max-width: 100%;
        height: auto;
        padding: 0
    } 
    
    .main-content {
        flex-wrap: wrap;
    }

    input, textarea {
        width: 100%;
    }

    .main-content .box {
        flex-basis: auto;
    }

    .contact-submit {
        width: 100%;
    }

    /*Path*/
    .paths .column {
        width: 100%;
    }

    .path {
        margin: 0 auto;
    }
}