@media (max-widht: 670px) {
    .jumbotron {
        grid-column-gap: 10px;
    }
    .jumbotron-left {
        order: 2;
        grid-row-start: 2;
        grid-row-end: span 12;
    }
    .jumbotron-right {
        order: 1;
        grid-row-start: 2;
        grid-row-end: span 12;
        margin-bottom: 20px;
    }

    .jumbotron-right img {
        height: 100px;
    }
}