@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #32325d;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #06a2d6;
	text-decoration: none;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
}

.logo {
	width: 30px;
	cursor: pointer;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: #06607e;
	border: none;
	border-radius: 25px;
	background-color: lightblue;
	padding: 9px 20px;
	transition: all 0.3s ease 0s;
}

.nav-medsos {
	float: right;
}

.nav-medsos i {
	padding: 0px 5px;
}

.navbar {
	width: 100%;
	background-color: #fff !important;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}

.jumbotron {
	min-height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.jumbotron-left {
	margin: 0 50px;
}

.jumbotron-right {
	grid-column-start: 7;
	grid-row-end: span 5;
	display: flex;
	align-items: center;
}

.jumbotron-right img {
	max-height: 400px;
	
}

.jumbotron-header {
	font-weight: 500px;
	font-size: 40px;
	margin-bottom: 20px;
}

.jumbotron-text {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 20px;
}

.jumbotron-cta {
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s all ease;
	padding: 9px 20px;
	border: none;
	border-radius: 50px;
	background-color: white;
	border-style: solid;
}

.jumbotron-cta:hover {
	filter: brightness(150%);
}

/* Path, Price */

section.paths, section.prices {
	text-align: center;
	padding: 2rem 0;
}

.paths h3, .prices h3 {
	margin-top: 1.5rem;
	font-weight: 600;
	font-size: 2.1rem;
}

.paths p, .prices p {
	color: #525f7f;
	font-size: 1.25rem;
	margin-top: 1.5rem;
}

/* Path Card */

.paths .row {
	width: 70%;
	margin: 1.5rem auto;
	overflow: auto;
}

.paths .column {
	float: left;
	width: 33.33%;
	padding: 1rem;
}

.path {
	border-radius: 25px;
	padding: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 1rem;
}

.path:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.path img {
	height: 200px;
	width: 200px;
}

.path h4 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

/* Price Card */

.prices .row {
	width: 50%;
	margin: 1.5rem auto;
	overflow: auto;
}

.prices .column {
	float: left;
	width: 50%;
	padding: 1rem;
}

.price {
	border-radius: 10px;
	padding: 5rem 2rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 1rem;
}

.price:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.price .price-text {
	margin-bottom: 2rem;
}

.price.price-plus {
	color: #fff;
	background-color: #5e72e4;
}

.price-plus h3 {
	color: #fff;
}

.price-plus p {
	color: #fff;
	font-weight: 600;
}



/* CTA */

.cta {	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 200px;
	background-color: #f3f3f3;
}

.cta-text {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #363431;
	margin-bottom: 20px;
}

.cta-btn {
	padding: 12px 24px;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
	cursor: pointer;
	background-color: #00aec5;
	color: white;
}

.cta-btn:hover {
	opacity: 1;
}

/* Footer */

footer {
	bottom: 0px;
	width: 100%;
	background-color: #040b2e;
	color: white;
	font-family: "Montserrat", sans-serif;
}

footer li {
	color: white;
	list-style: none;
	margin-bottom: 5px;
	cursor: pointer;
}

.main-content {
	display: flex;
}

.main-content h2 {
	color: white;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin: 20px 0 0 0;
}

.box .content p {
	text-align: justify;
	
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content .social a {
	margin: 0 20px 0 0 ;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #050e3b;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}

.left .content .social a span:hover {
	background-color: #f12020;
	color: white;
}

input {
	width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 18px;
	border: 1px solid #dee7ec; 
}

textarea {  
	width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 18px;
	border: 1px solid #dee7ec;
  }

  .contact-submit {
	background-color: #47a44b;
	color: white;
	width: 400px;
	padding: 10px 15px;
	border: none;
	border-radius: 2px;
  }